build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*~
build
debian/files
debian/*.substvars
debian/*.debhelper
debian/libxml2-dbg/
debian/libxml2-dev/
debian/libxml2-doc/
debian/libxml2-utils/
debian/libxml2/
debian/libxml2-0/
